.tipos {
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.78);
    border-radius: 15px;
    margin-top: -45px;
}

.tipos_contenedor {
    padding-left: 60px;
    padding-right: 48px;
    padding-bottom: 20px;
}

.tipos_contenedor h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    margin-left: -21px;
    padding-top: 25px;
}

.tipos_contenedor p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

.tipos_contenedor h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    margin-left: -21px;
    padding-top: 25px;
}