.contenedor {
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.78);
    border-radius: 15px;
    margin-top: -45px;
}

.elementos_contenedor {
    padding-left: 60px;
    padding-right: 48px;
    padding-bottom: 20px;
}

.contenedor h1, h3, h5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    margin-left: -21px;
    padding-top: 25px;
}

.contenedor p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

.partes h1,{
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    margin-left: -21px;
    padding-top: 25px;
}

.partes h3, h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    margin-left: -21px;
    padding-top: 25px;
}

.partes p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%
}

.partes_contenedor {
    padding-left: 60px;
    padding-right: 48px;
    padding-bottom: 20px;
}